/target
*.csv
*.pgn
/training_data
/params/*
/tuning/plots/*
*.npz
*.exe
*.pkl
pstvis.ipynb
autoconv.sh
scripts/progression-renderer.ipynb
/nnue-visualisations
/data/
dev
tuning/venv/
tuning/viridithas
tuning/log.txt
.vscode
.idea
Viridithas
tb5
*.nnue
src/tablebases/bindings.rs
perf.data*
flamegraph.svg
