[package]
name = "virtue"
version = "2.2.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rand = "0.8.5"
rayon = "1.5.3"
num_cpus = "1.13.1"

[profile.release]
lto = "thin"