[package]
name = "viridithas"
version = "12.0.0"
edition = "2021"
description = "A superhuman chess engine."
license = "MIT"
readme = "README.md"
keywords = ["chess", "treesearch"]
categories = ["games"]
repository = "https://github.com/cosmobobak/viridithas"
authors = ["Cosmo Bobak (cosmobobak@gmail.com)"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
syzygy = ["dep:cc"]
bindgen = ["dep:bindgen"]
tuning = []
stats = []
datagen = []
final-release = []

[build-dependencies]
cc = { version = "1.0.73", optional = true }
bindgen = { version = "0.69.4", optional = true }

[dependencies]
rand = "0.8.5"
num_cpus = "1.13.1"
clap = { version = "4.2.7", features = ["derive"] }
chrono = "0.4.23"
ctrlc = "3.2.5"
bulletformat = "0.1.0"
arrayvec = "0.7.4"

[profile.release]
lto = true
panic = "abort"
strip = true
# debug = true
